Repository LindsayMichelleAllen/SmartRoutine, pull requests merged in 2021-11, with the labels that each got.

#63 Add Device Queries and Routes
  api/api.go
  api/postgres/postgres.go
  api/services/routinemanagement/routinemanagement.go
  client/client.go
Labels: Enhancement, Backend, Database, Interactor, Device, Service

#68 Add routine queries
  api/api.go
  api/interactors/databaseinteractor/devicedatabaseinteractor/devicedatabaseinteractor_test.go
  api/interactors/databaseinteractor/routinedatabaseinteractor/routinedatabaseinteractor.go
  api/interactors/databaseinteractor/routinedatabaseinteractor/routinedatabaseinteractor_test.go
  api/postgres/postgres.go
  api/services/model/routine.go
  api/services/routinemanagement/routinemanagement.go
  client/client.go
  sql/create_user_databases.sql
Labels: Enhancement, Backend, Database, Routine

#71 Add Configuration Queries
  api/api.go
  api/interactors/databaseinteractor/configurationdatabaseinteractor/configurationdatabaseinteractor.go
  api/postgres/postgres.go
  api/services/routinemanagement/configurationmanagement/configurationmanagement.go
Labels: Enhancement, Backend, Database, Configuration

#76 Created login stubs.
  api/api.go
  api/go.mod
  api/go.sum
  client/src/Components/MenuBar/MenuBar.tsx
  client/src/Utils/BackendIntegration.tsx
  client/src/Utils/LoginState.tsx
  client/src/Views/Account/LoginRouter.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Account/LogoutView.tsx
  client/src/Views/Account/SignupView.tsx
  client/src/Views/App/App.tsx
  client/src/index.html
Labels: User, UI

#80 Feature/74 account page
  api/api.go
  client/.eslintrc.json
  client/package.json
  client/src/Components/MenuBar/MenuBar.tsx
  client/src/Utils/BackendIntegration.tsx
  client/src/Utils/LoginState.tsx
  client/src/Views/Account/AccountView.tsx
  client/src/Views/Account/LoginRouter.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Account/LogoutView.tsx
  client/src/Views/Account/SignupView.tsx
  client/src/Views/App/App.tsx
  client/src/Views/Routines/RoutinesView.tsx
  client/src/index.js
  client/yarn.lock
Labels: User, UI

#81 Generate User, Device, Routine, and Configuration Ids
  api/api.go
  api/interactors/databaseinteractor/configurationdatabaseinteractor/configurationdatabaseinteractor.go
  api/interactors/databaseinteractor/devicedatabaseinteractor/devicedatabaseinteractor.go
  api/interactors/databaseinteractor/routinedatabaseinteractor/routinedatabaseinteractor.go
  api/interactors/databaseinteractor/routinedatabaseinteractor/routinedatabaseinteractor_test.go
  api/interactors/databaseinteractor/userdatabaseinteractor/userdatabaseinteractor.go
  api/postgres/postgres.go
  api/services/routinemanagement/configurationmanagement/configurationmanagement.go
  api/services/routinemanagement/routinemanagement.go
  api/services/useraccountmanagement/useraccountmanagement.go
  client/client.go
  sql/create_user_databases.sql
Labels: Bug, User, Database, Interactor, Device, Routine, Configuration

#84 Add Basealarm to Routine
  api/api.go
  api/interactors/databaseinteractor/devicedatabaseinteractor/devicedatabaseinteractor.go
  api/interactors/databaseinteractor/devicedatabaseinteractor/devicedatabaseinteractor_test.go
  api/interactors/databaseinteractor/routinedatabaseinteractor/routinedatabaseinteractor.go
  api/postgres/postgres.go
  api/services/devicemanagement/devicemanagement.go
  api/services/model/routine.go
  api/services/model/routine_test.go
  api/services/routinemanagement/routinemanagement.go
  api/services/useraccountmanagement/useraccountmanagement.go
  client/client.go
  sql/create_user_databases.sql
Labels: Bug, Backend, Routine

#86 Feature/75 routines page
  api/api.go
  api/postgres/postgres.go
  api/services/model/configuration.go
  api/services/model/device.go
  api/services/model/routine.go
  client/package.json
  client/src/Components/MenuBar/MenuBar.tsx
  client/src/Components/NavDrawer/NavDrawer.tsx
  client/src/Components/Routines/RoutineCard.tsx
  client/src/Components/Routing/PrivateRoute.tsx
  client/src/Utils/BackendIntegration.tsx
  client/src/Utils/ColorContext.tsx
  client/src/Utils/CommonRouting.tsx
  client/src/Utils/InputValidation.tsx
  client/src/Utils/LoginState.tsx
  client/src/Views/Account/AccountView.tsx
  client/src/Views/Account/LoginRouter.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Account/LogoutView.tsx
  client/src/Views/Account/SignupView.tsx
  client/src/Views/App/App.tsx
  client/src/Views/Devices/DevicesView.tsx
  client/src/Views/Routines/AddRoutineView.tsx
  client/src/Views/Routines/DeleteRoutineView.tsx
  client/src/Views/Routines/EditRoutineView.tsx
  client/src/Views/Routines/RoutinesView.tsx
  client/src/Views/Routines/SingleRoutineView.tsx
  client/src/index.html
  client/yarn.lock
Labels: Enhancement, Routine, UI

#89 User Login
  api/api.go
  api/interactors/databaseinteractor/userdatabaseinteractor/userdatabaseinteractor.go
  api/postgres/postgres.go
  api/services/model/userprofile.go
  api/services/model/userprofile_test.go
  api/services/useraccountmanagement/useraccountmanagement.go
  api/services/useraccountmanagement/useraccountmanagement_test.go
  client/client.go
  sql/create_user_databases.sql
Labels: Enhancement, Backend, User, Database

#90 Added base alarm support and integrated new authentication.
  api/api.go
  api/services/model/configuration.go
  api/services/model/device.go
  api/services/model/routine.go
  api/services/model/userprofile.go
  client/src/Components/Routines/RoutineCard.tsx
  client/src/Utils/BackendIntegration.tsx
  client/src/Utils/CommonRouting.tsx
  client/src/Utils/LoginState.tsx
  client/src/Views/Account/AccountView.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Account/SignupView.tsx
  client/src/Views/App/App.tsx
  client/src/Views/Routines/AddRoutineView.tsx
  client/src/Views/Routines/DeleteRoutineView.tsx
  client/src/Views/Routines/EditRoutineView.tsx
  client/src/Views/Routines/RoutinesView.tsx
  client/src/Views/Routines/SingleRoutineView.tsx
Labels: Routine, UI

#94 Fixed time indicators to not use military time.
  client/src/Components/Routines/RoutineCard.tsx
Labels: Bug, UI

#96 Backend Complete - Deployed Server to AWS
  api/api.go
  api/go.mod
  api/go.sum
  api/interactors/databaseinteractor/configurationdatabaseinteractor/configurationdatabaseinteractor.go
  api/interactors/databaseinteractor/devicedatabaseinteractor/devicedatabaseinteractor.go
  api/interactors/databaseinteractor/devicedatabaseinteractor/devicedatabaseinteractor_test.go
  api/interactors/databaseinteractor/routinedatabaseinteractor/routinedatabaseinteractor.go
  api/interactors/databaseinteractor/routinedatabaseinteractor/routinedatabaseinteractor_test.go
  api/interactors/databaseinteractor/userdatabaseinteractor/userdatabaseinteractor.go
  api/postgres/postgres.go
  api/services/devicemanagement/devicemanagement.go
  api/services/model/configuration.go
  api/services/model/device.go
  api/services/model/routine.go
  api/services/model/routine_test.go
  api/services/model/userprofile.go
  api/services/model/userprofile_test.go
  api/services/routinemanagement/configurationmanagement/configurationmanagement.go
  api/services/routinemanagement/routinemanagement.go
  api/services/useraccountmanagement/useraccountmanagement.go
  api/services/useraccountmanagement/useraccountmanagement_test.go
  client/.eslintrc.json
  client/.gitignore
  client/README.md
  client/client.go
  client/package-lock.json
  client/package.json
  client/src/Components/MenuBar/MenuBar.tsx
  client/src/Components/NavDrawer/NavDrawer.tsx
  client/src/Components/Routines/RoutineCard.tsx
  client/src/Components/Routing/PrivateRoute.tsx
  client/src/Utils/BackendIntegration.tsx
  client/src/Utils/ColorContext.tsx
  client/src/Utils/CommonRouting.tsx
  client/src/Utils/InputValidation.tsx
  client/src/Utils/LoginState.tsx
  client/src/Views/Account/AccountView.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Account/LogoutView.tsx
  client/src/Views/Account/SignupView.tsx
  client/src/Views/App/App.tsx
  client/src/Views/Devices/DevicesView.tsx
  client/src/Views/Routines/AddRoutineView.tsx
  client/src/Views/Routines/EditRoutineView.tsx
  client/src/Views/Routines/RoutinesView.tsx
  client/src/index.html
  client/src/index.js
  client/yarn.lock
  sql/create_user_databases.sql
Labels: Master Update

#99 Feature/95 fb
  client/.gitignore
  client/README.md
  client/package.json
  client/src/Utils/BackendIntegration.tsx
  client/src/Views/Account/AccountView.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Routines/AddRoutineView.tsx
  client/src/Views/Routines/EditRoutineView.tsx
  client/src/index.html
  client/yarn.lock
Labels: UI

#104 Feature/97 update user service documentation
  documentation/services/user_account_management_service.md
Labels: Documentation, Backend, User

#105 Feature/xx devices page
  api/api.go
  api/services/model/configuration.go
  api/services/model/device.go
  client/src/Components/Configurations/ConfigurationCard.tsx
  client/src/Components/Devices/DeviceCard.tsx
  client/src/Components/NavDrawer/NavDrawer.tsx
  client/src/Components/Routines/RoutineCard.tsx
  client/src/Utils/BackendIntegration.tsx
  client/src/Utils/CommonRouting.tsx
  client/src/Utils/InputValidation.tsx
  client/src/Views/Account/AccountView.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Account/LogoutView.tsx
  client/src/Views/Account/SignupView.tsx
  client/src/Views/App/App.tsx
  client/src/Views/Devices/AddDeviceView.tsx
  client/src/Views/Devices/DevicesView.tsx
  client/src/Views/Devices/EditDeviceView.tsx
  client/src/Views/Routines/AddRoutineView.tsx
  client/src/Views/Routines/EditRoutineView.tsx
  client/src/Views/Routines/RoutineUtils.tsx
  client/src/Views/Routines/RoutinesView.tsx
  client/src/Views/Routines/SingleRoutineView.tsx
Labels: Device, UI
