Repository LindsayMichelleAllen/SmartRoutine, pull requests merged in 2021-12, with the labels that each got.

#108 Bugfix/107 close database connections
  api/postgres/postgres.go
Labels: Bug, Backend, Database

#106 Feature/79 device page
  api/api.go
  client/src/Components/Configurations/ConfigurationCard.tsx
  client/src/Components/Containers/AlertsBox.tsx
  client/src/Components/Containers/CardBox.tsx
  client/src/Components/Containers/ValidatedInput.tsx
  client/src/Components/Devices/DeviceCard.tsx
  client/src/Components/MenuBar/MenuBar.tsx
  client/src/Components/NavDrawer/NavDrawer.tsx
  client/src/Components/Routines/RoutineCard.tsx
  client/src/Components/Routing/PrivateRoute.tsx
  client/src/Components/Skeletons/CardSkeleton.tsx
  client/src/Utils/BackendIntegration.tsx
  client/src/Utils/ColorContext.tsx
  client/src/Utils/CommonRouting.tsx
  client/src/Utils/InputValidation.tsx
  client/src/Utils/RoutineUtils.tsx
  client/src/Views/Account/AccountView.tsx
  client/src/Views/Account/LoginView.tsx
  client/src/Views/Account/LogoutView.tsx
  client/src/Views/Account/SignupView.tsx
  client/src/Views/App/App.tsx
  client/src/Views/Devices/AddDeviceView.tsx
  client/src/Views/Devices/DevicesView.tsx
  client/src/Views/Devices/EditDeviceView.tsx
  client/src/Views/Routines/AddConfigurationView.tsx
  client/src/Views/Routines/AddRoutineView.tsx
  client/src/Views/Routines/EditConfigurationView.tsx
  client/src/Views/Routines/EditRoutineView.tsx
  client/src/Views/Routines/RoutinesView.tsx
  client/src/Views/Routines/SingleRoutineView.tsx
Labels: Device, Routine, UI

#110 Feature/109 update server address
  client/src/Utils/BackendIntegration.tsx
Labels: Backend
